Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-make-unique,
  modernize-use-default-member-init,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-redundant-member-init,
  readability-simplify-boolean-expr
WarningsAsErrors: ''
HeaderFilterRegex: '^(core|apps|tests)/.*'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '4'
