CompileFlags:
  CompilationDatabase: build/no-ccache
Diagnostics:
  ClangTidy:
    Add: []
    Remove:
      - readability-magic-numbers
      - readability-identifier-naming
Index:
  Background: Build
